.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: 200px;
  height: 200px;
}

.home-heading {
  font-size: 50px;
  color: #6d396b;
  font-family: 'Roboto';
  font-weight: bold;
}
